<div class="footer text-center">
  <div class="d-flex justify-content-center"  >
    <div class="positon-absolute weas">
      <%= image_tag "weasley.jpg",  class: "avatar-weasley-1" %>
      <%= image_tag "weasley.jpg",  class: "avatar-weasley-2" %>
    </div>
  </div>
  <div>Weasley-Brothers.CO</div>
</div>
