<div align="center" class="container">
    <a href="http://thelink" class="the-click"></a>
    <iframe wmode="Opaque" class="video-iframe" width="100%" height="315" src="//www.youtube.com/embed/ZauRZNs8BMg" frameborder="0" allowfullscreen="">
    </iframe>
</div>
