<div class="text-center"></div>

<div class="hero-image">
  <div class="hero-text">
    <h1>airbnBEAST</h1>
    <p>Magical beasts at magical prices</p>

    <button class="btn"><%= link_to "Browse Fantastic Beasts", "/beasts" %></button>
  </div>
</div>

<div class="container d-flex flex-wrap col-10">

<!-- useless comment -->
