<% render 'shared/background' %>
<div class="text-center"></div>

<div class="hero-image">
  <div class="hero-text">
    <h1>Fantastic Beasts</h1>
    <p><i class="fas fa-dragon"></i> Magical beasts at magical prices</p>

    <button ><%= link_to "Get the party started", "/beasts" %></button>
  </div>
</div>

<div class="container d-flex flex-wrap col-10">

<!-- useless comment -->
