.banner {
  background-image: image-url("banner.jpg");
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  color: white;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo {
  position: absolute;
  right: 300px;
  top: 300px;
}
