.beast-card {
  height: 450px;
  width: auto;
  background-size: cover;
  background-position: center;
}

.show-card {
  min-height: 500px;
  width: auto;
  color: $dark-grey;
}

.beast-card-show {
  height: 200px;
  width: auto;
  background-size: cover;
  background-position: center;
  color: white;
}

.booking-card {
  background-color: $dark-grey;
  padding: 20px;
  margin: 10px;
  color: white;
  justify-content: space-around;
}
