.beast-card {
  min-height: 350px;
  width: auto;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.show-card {
  min-height: 500px;
  width: auto;
  background-color: white;
  color: $dark-grey;
  border: 1px solid $dark-grey;
  border-radius: 20px;
}
