.research {
  width: 400px;
  display: flex;
  justify-content: center;

  span {
    font-weight: bold;
    font-height: 24px;
  }

  input[type=radio] {
    background: #0DFF92;
    border: 5px solid #0DFF92;
    color: #0DFF92;
  }
}
