.footer {
  font-family: 'Great Vibes', cursive;
  left: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  background-color: $dark-grey;
  color: white;
  text-align: center;
}

.weas {
  padding-top: 50px;
  padding-bottom: 30px;
}
